* {
    margin: 0;
    padding: 0;
    }

body {
    margin: 0 30%;
    }

h1 {
    text-align: center;
    padding: 3vh;
    }

.article_html5 {
    font-family: 'Segoe UI', sans-serif;
    }

.article_css3 {
    font-family: 'Segoe UI', sans-serif;
    }   

.header_html5 {
    background-color: grey;
    padding: 1vh;
    }

.header_css3 {
    background-color: grey;
    padding: 1vh;
    }

img {
    height: 15vh;
    display: inline;
    float: left;
    padding: 1vh 3vh;
    }

p {
    margin: 2vh 8vh;
    }